/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2b1f;
    padding: 15px 40px;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #cce3b5;
}

/* HERO / FORM */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    background: url('../images/olive.jpg') no-repeat center;
    background-size: cover;
}

/* overlay خفيف باش تبان الفورم */
.admin-hero {
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
                url('../images/olive.jpg') no-repeat center;
    background-size: cover;
}

/* INPUTS */
.hero input {
    width: 400px;
    margin: 15px 0;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    outline: none;
    font-size: 16px;
}

/* BUTTON */
.btn {
    margin-top: 20px;
    width: 150px;
    padding: 10px;
    text-align: center;
    background: #b7cc8a;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #9fb873;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .hero {
        padding-left: 20px;
    }

    .hero input {
        width: 90%;
    }
}